
*body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.d1{
    background-image: url(image/bgimage2.png );
    height: 797px;
    width: 100%;
    background:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.logo{
    margin: 60px;
    
}
.nav{
    padding-top: 70px; 

    float: right;
    color: white;
    
}
.ol1{
    padding: 20px 51px 20px 14px;
    width: 75%;
    font-size: 20px;
    
}
.head1{
    
    font-size: 91px;
    line-height: 97px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    margin-top: -30px;
    margin-left: 100px;
    
}

.prg1{


font-size: 32px;
color: #ffffff;
font-weight:400 ;
font-family: "Nunito";
line-height: 32px;
margin: 100px;
margin-top:-20px;
} 
.button {
    font-size: 25px;
    color:white;
    line-height: 50px;
    border-radius: 20px;
    text-align: center;
    background-color:#f64b3c ;
    box-shadow: none;
    width: 250px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -40px;
    border-style: hidden;

    

} 
.d2{
    
    background-image: url(image/bgimage3.jpg );
    height: 797px;
    width: 100%;
    background:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.img{
    display: flex;
    
}
.sabi1{
    padding: 120px;
    width: 200px;
    
    

}
.sabi2{
    padding: 120px;
    width: 200px;}
  
.sabi3{
    padding: 120px;
    width: 200px;
    
}
.img1{
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 100px;
    
}
.fname1{

    
    margin-left:9% ;
    margin-top: -107;
    font-size: 33px;
    text-transform: uppercase;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
    

}
.fname2{
    margin-left: 43%;
    margin-top: -65px;
    font-size: 33px;
    text-transform: uppercase;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo"
}
.fname3{
    margin-left: 80%;
    margin-top: -63;
    font-size: 33px;
    text-transform: uppercase;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo"
}
.f1{
    margin-left: 13%;
    margin-top:-22px;


}
.f2{
    margin-left: 45%;
    margin-top:-40px ;
}
.f3{
    margin-left:80% ;
    margin-top: -36px;
}
.head2{
    font-size: 64px;
color: #f64b3c;
font-weight: 700;
font-family: "Archivo";
text-align: center;
margin: 0px;
padding: 0px;
position: relative;
top: 50px;

}
.p1{

 
    width: 1821px;
    height: 210px;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    position: relative;
    top: 50px;
    right: 18%;
    
}
.f3{
    font-family: "Nunito";
    color: #f64b3c;
    font-size: 20px;
    
  
}
.f2{
    color: #f64b3c;
    font-size: 20px;
    font-family: "Nunito";
}
.f1{
    color: #f64b3c;
    font-size: 20px;
    font-weight: 600;
    font-family: "Nunito";
}
.d3{
    background-image: url(image/bgimage4.jpg );
    height: 797px;
    width: 100%;
    background:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
.burg{
    position: relative;
    top:10%;
    left: 10%;

}
.head3{
    font-size: 75px;
color: #ffffff;
font-weight: 700;
font-family: "Archivo";
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 30%;
    left: 20%;
    
}
.prg3{
    width: 1146px;
height: 218px;
font-size: 30px;
color: #ffffff;
font-weight: 400;
font-family: "Nunito";
position: relative;
left: 55%;
bottom: 30%;

}
.button2{

    font-size: 25px;
     
    color: #f64b3c;
    line-height: 50px;
    border-radius: 20px;
    text-align: center;
    background-color:white ;
    box-shadow: none;
    width: 250px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -40px;
    border-style: hidden;
    position: relative;
    left: 55%;
    bottom: 35%;



}
.d4{
    
    background-image: url(image/pgimage5.jpg );
    height: 797px;
    width: 100%;
    background:cover;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.head4{
    font-size: 64px;
    color:#f64b3c ;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 32%;
    right: 29%; 
    
    
    

}
.prg4{
    width: 1146px;
    height: 218px;
    font-size: 30px;
    color: #f64b3c;
    font-weight: 400;
    font-family: "Nunito";
    position: relative;
    top: 30%;
    left: 10%;
}
.burg1{
    position: relative;
    top:-20%;
    left: 40%;
    margin: 0%;
    padding: 0%;

}
.button3{
    font-size: 25px;
    color:white ;
    line-height: 50px;
    border-radius: 20px;
    text-align: center;
    background-color:#f64b3c;
    box-shadow: none;
    width: 250px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 700;
    border-style: hidden;
    position: relative;
    left: 10%;
    top: -35%;

}
.d5{
    padding: 0%;
    margin: 0%;
    background-image: url(image/bgimage4.jpg);
    width: 100%;
    height: 797px;
    overflow: hidden;
    

}
.head5{
    font-size: 62px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
    position: relative;
    top: 10%;
}
.prg5{
    width: 1680px;
    height: 210px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    position: relative;
    top: 8%;
    right: 13%;

}
.d6{
    display: flex;
    justify-content: space-around;
}
.dl{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -39%;
}
.h8{
    font-size: 102px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";


}
.du{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -55%;
    
}
.h9{
    font-size: 33px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
}
.d7{
    background-image: url(image/bgimage3.jpg );
    height: 797px;
    width: 100%;
    background:cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
.h10{
    text-align: center;
    position: relative;
    top: 5%;
    font-size: 75px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
.imgul{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 18%;
    
}
.imgul1{
    height:300px ;
    border-radius: 10px;
}
.d8{
    background-image: url(image/Newbgimg2.jpg );
    height: 797px;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    
    
   

}
.p8{

font-size: 36px;
color: #ffffff;
font-weight: 700;
font-family: "Archivo";
text-align: center;
position: relative;
top: 30%;
}
.h11{
    font-size: 45px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Calistoga";
    text-align: center;
    position: relative;
    top: 35%;
}
.d9{
    background-image: url(image/bgimage3.jpg );
    height: 797px;
    width: 100%;
    background:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.h11{
    font-size: 75px;
color: white;
font-weight: 700;
font-family: "Archivo";
text-align: center;
}
.prg9{
    width: 1509px;
height: 210px;
font-size: 30px;
color: #f64b3c;
font-weight: 400;
font-family: "Nunito";
text-align: center;
position: relative;
top:35% ;
right: 6%;
}
.input{
    position: relative;
    top: 17%;
    left:25% ;
    width: 475px;
height: 51px;
border-radius: 30px 0 0 25px;
background-color: #ffffff; 
border: none;
outline: none;
opacity: 0.502;
font-size: 25px;
color: #835e3f;
font-weight: 400;
font-family: "Nunito";
text-align: center;

}
.inputboton{
    position: relative;
    top: 17%;
    left:24% ;
    width: 176px;
height: 51px;
border-radius:0 30px 30px 0;
background-color: #f64b3c;
display: inline-block;
border: none;
outline: none;
font-size: 25px;
text-transform: uppercase;
color: #ffffff;
font-weight: 400;
font-family: "Nunito";
text-align: center;
}
.d10{
     background-image:url(image/backimg.jpg);
    
    height: 797px;
    width: 100%;
    background:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.h12{
    
font-size: 31px;
color: #ffffff;
font-weight: 700;
font-family: "Archivo";

}
.prg10{


font-size: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Nunito";

}
.d11{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 30%;

}
.h13{
font-size: 31px;
color: #ffffff;
font-weight: 700;
font-family: "Archivo";

}
.prg11{
    
    
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";

}
.h14{
    font-size: 31px;
color: #ffffff;
font-weight: 700;
font-family: "Archivo";
}
.prg12{
    
    
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}
.h15{
    font-size: 31px;
color: #ffffff;
font-weight: 700;
font-family: "Archivo";
}

.prg13{
    
font-size: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Nunito";
}





  
